.post-area {
  background:rgba(27,153,159,0.6);
	width: 12.5%;
	height: auto;
  padding: 10px;
	margin-left: 12px;
	margin-top: 25px;
  border-radius: 5px;
}

.post-area #journal-modal {
  background-color: rgba(27,153,159,0);
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  width: 100%;
}

.post-area #journal-modal:hover {
	cursor: pointer;
}

.post-area #journal-modal:focus {
	outline: 0;
  box-shadow: none;
}

.journalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(26, 26, 26, 0.6);
  }

  .journalModal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background-color: white;
    marginRight: -50%;
    transform: translate(-50%, -50%);
  }

.post-area #entry-form {
	margin-left: 20px;
	margin-right: 20px;
}

.post-area input {
  padding: 6px;
  margin: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  border: gray solid 1px;
}

.post-area textarea {
  display: block;
  border: none;
  border-radius: 5px;
  resize: none;
}

.post-area #submit {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #05668d;
  border-color: #05668d;
  border-radius: 3px;
  border-style: solid;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

.post-area #submit:hover {
	cursor: pointer;
	background-color: #02c39a;
	border-color: #02c39a;
}

.post-area #submit:focus {
	outline: 0;
  box-shadow: none;
}
