.post-area {
  background:rgba(27,153,159,0.6);
	width: 12.5%;
	height: auto;
  padding: 10px;
	margin-left: 12px;
	margin-top: 25px;
  border-radius: 5px;
}

.post-area #journal-modal {
  background-color: rgba(27,153,159,0);
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  width: 100%;
}

.post-area #journal-modal:hover {
	cursor: pointer;
}

.post-area #journal-modal:focus {
	outline: 0;
  box-shadow: none;
}

.journalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 26, 26, 0.6);
}

.journalModal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  background-color: rgba(27, 153, 139, 0.8);
  marginRight: -50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 10px;
}

.journalModal:focus{
  outline: none;
}

.journalModal #entry-form {
	margin-left: 20px;
	margin-right: 20px;
}

.journalModal #uploadLabel {
    color: white;
    padding: 4px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
}

.journalModal #uploadLabel:hover {
    cursor: pointer;
    background-color: #5b4b49;
}

.journalModal #file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.journalModal textarea {
  display: block;
  border: none;
  border-radius: 5px;
  resize: none;
}

.journalModal #submit, #closeModal {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #05668d;
  border-color: #05668d;
  border-radius: 3px;
  border-style: solid;
  margin: 5px;
  margin-top: 12px;
  margin-bottom: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

.journalModal #closeModal {
  width: 49.67px;
}

.journalModal #submit:hover {
	cursor: pointer;
	background-color: #044862;
	border-color: #044862;
}

.journalModal #closeModal:hover {
	cursor: pointer;
	background-color: #044862;
	border-color: #044862;
}

.journalModal #submit:focus {
	outline: 0;
  box-shadow: none;
}

.journalModal #closeModal:focus {
	outline: 0;
  box-shadow: none;
}
