@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

input {
  padding: 6px;
  margin: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  border: gray solid 1px;
}

#submit {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #02c39a;
  border-color: #02c39a;
  border-radius: 0px !important;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}
