@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body {
  background: url('../images/brickwall/brickwall.png');
  font-family: 'Poppins', sans-serif;
  	/* overflow-y: scroll; */
}
