@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body {
  background: url('../images/brickwall/brickwall.png');
  background: url('../images/cork-wallet/cork-wallet.png');
  background: url('../images/ep_naturalwhite/ep_naturalwhite.png');
  background: url('../images/light-grey-terrazzo/light-grey-terrazzo.png');
  background: url('../images/mooning/mooning.png');
  background: url('../images/vintage-concrete/vintage-concrete.png');
  background: url('../images/notebook/notebook.png');
  background: url('../images/nice_snow/nice_snow.png');
  font-family: 'Poppins', sans-serif;
}
