.nav-landing nav {
  background-color: #5b4b49;
  position: relative;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.nav-landing .logo {
  width: auto;
  height: 43px;
  margin-top: 18px;
  margin-left: 10px;
  margin-right: 6px;
}

.nav-landing h2 {
  width: 100%;
  margin-left: 5px;
  font-size: 26px;
  color: white;
}

.nav-landing .nav-components {
  display: flex!important;
  justify-content: flex-end;
  flex-basis: auto;
  width: 100%;
  list-style-type: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

.nav-landing #register, #logout {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: #05668d;
  border-color: #05668d;
  border-radius: 5px;
  border-style: solid;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
}

.nav-landing #register:hover {
	cursor: pointer;
	background-color: #02c39a;
	border-color: #02c39a;
}

.nav-landing #logout:hover {
	cursor: pointer;
	background-color: #02c39a;
	border-color: #02c39a;
}

.nav-landing #logout:focus {
	outline: 0;
  box-shadow: none;
}

.nav-landing #register:focus {
	outline: 0;
  box-shadow: none;
}

@media only screen and (max-width: 400px) {
  .nav-landing #register, #logout {
    font-size: 3vw;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin: 1px;
  }

  .nav-landing h2 {
    font-size: 7vw;
  }

  .nav-landing .logo {
    margin-top: 15px;
  }
}
