.registration {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.registration .registration-form label {
  display: block;
  padding-top: 5px;
	padding-bottom: 5px;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	color: black;
}

.registration .registration-form input {
  font-family: 'Poppins', sans-serif;
	font-size: 15px;
	border: 0px;
	width: 100%;
	border-radius: 5px;
	padding: 6px;
  border: 1px solid #e7dfc6;
}

.registration .registration-form button {
  margin-top: 25px;
	color: white;
	background-color: #05668d;
	border-color: #05668d;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-style: none;
	border-radius: 5px;
  display: block;
}

.registration .registration-form button:hover {
	cursor: pointer;
	background-color: #02c39a;
	border-color: #02c39a;
}

.registration .registration-form input:focus {
  outline: 0;
  box-shadow: none;
}

.registration .registration-form button:focus {
  outline: 0;
  box-shadow: none;
}

@media only screen and (max-width: 640px) {
  .registration .registration-form label {
    font-size: 4vw;
  }

  .registration .registration-form input {
    font-size: 3vw;
  }

  .registration .registration-form button {
    font-size: 4vw;
    padding-left: 10px;
    padding-right: 10px;
  }
}
